@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    overflow:hidden
}
* {
    color: aliceblue;
    font-family: sans-serif, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial;
}
